<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DigestAlgorithm</key>
	<string>MD5</string>
	<key>Pages</key>
	<dict>
		<key>rw:theme:school</key>
		<dict>
			<key>CreationDate</key>
			<date>2010-03-18T01:36:11Z</date>
			<key>DigestAlgorithm</key>
			<string>MD5</string>
			<key>DocumentGUID</key>
			<string>3B5045B4-7253-40DC-9C93-8FEBC2956167</string>
			<key>PageDigests</key>
			<dict>
				<key>css/fonts/comic.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Deaas2mSU5JtDQQ4Tb0/lw==
					</data>
					<key>Size</key>
					<integer>753</integer>
				</dict>
				<key>css/fonts/sanserif.css</key>
				<dict>
					<key>Digest</key>
					<data>
					SONZvVzOP7bJw5lSzxK0ew==
					</data>
					<key>Size</key>
					<integer>805</integer>
				</dict>
				<key>css/fonts/serif.css</key>
				<dict>
					<key>Digest</key>
					<data>
					9daFrEO3/oMaDIlqS+d9EA==
					</data>
					<key>Size</key>
					<integer>824</integer>
				</dict>
				<key>css/header/header_center.css</key>
				<dict>
					<key>Digest</key>
					<data>
					p2ARuusP02FYl/NXUXQFUw==
					</data>
					<key>Size</key>
					<integer>110</integer>
				</dict>
				<key>css/header/header_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					bUE3125kXK1aW57tE+18EQ==
					</data>
					<key>Size</key>
					<integer>34</integer>
				</dict>
				<key>css/header/header_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					HHXk0ZeYxxnl/zFcH3lgqQ==
					</data>
					<key>Size</key>
					<integer>110</integer>
				</dict>
				<key>css/objects/chalk.css</key>
				<dict>
					<key>Digest</key>
					<data>
					Sxw21ZWWQ8Qe9p2moEyr9w==
					</data>
					<key>Size</key>
					<integer>27</integer>
				</dict>
				<key>css/objects/eraser.css</key>
				<dict>
					<key>Digest</key>
					<data>
					ffyIBIe5goPsiW2OxAl/4w==
					</data>
					<key>Size</key>
					<integer>28</integer>
				</dict>
				<key>css/objects/projector.css</key>
				<dict>
					<key>Digest</key>
					<data>
					UYjzm1AUxAMb0mBdGtqCiw==
					</data>
					<key>Size</key>
					<integer>215</integer>
				</dict>
				<key>css/objects/ruler.css</key>
				<dict>
					<key>Digest</key>
					<data>
					O+Cn0GcRyfaO/Vb+hNO/4g==
					</data>
					<key>Size</key>
					<integer>65</integer>
				</dict>
				<key>css/sidebar/sidebar_hide.css</key>
				<dict>
					<key>Digest</key>
					<data>
					eoC8FxTXT3Tn+ch7cs2Utw==
					</data>
					<key>Size</key>
					<integer>178</integer>
				</dict>
				<key>css/sidebar/sidebar_left.css</key>
				<dict>
					<key>Digest</key>
					<data>
					j9YeT9XBNaOm0mfKSwXKAQ==
					</data>
					<key>Size</key>
					<integer>263</integer>
				</dict>
				<key>css/sidebar/sidebar_right.css</key>
				<dict>
					<key>Digest</key>
					<data>
					c116ZQjRvhjZ8tF8VUZYhA==
					</data>
					<key>Size</key>
					<integer>97</integer>
				</dict>
				<key>css/styles/blackboard.css</key>
				<dict>
					<key>Digest</key>
					<data>
					i+KLhmJjRS70Qr/RTZzgCA==
					</data>
					<key>Size</key>
					<integer>944</integer>
				</dict>
				<key>css/styles/projector.css</key>
				<dict>
					<key>Digest</key>
					<data>
					oUjpPpSiguBHohDL6dfmdw==
					</data>
					<key>Size</key>
					<integer>1730</integer>
				</dict>
				<key>handheld.css</key>
				<dict>
					<key>Digest</key>
					<data>
					07dAiKdfcAsYfWEcJvxr5g==
					</data>
					<key>Size</key>
					<integer>6005</integer>
				</dict>
				<key>images/blackboard.png</key>
				<dict>
					<key>Digest</key>
					<data>
					OcT/uknwbD691dNfuww31w==
					</data>
					<key>Size</key>
					<integer>45172</integer>
				</dict>
				<key>images/blog_arch_footer.png</key>
				<dict>
					<key>Digest</key>
					<data>
					vpSM15KMwP3QjgxneMqSKA==
					</data>
					<key>Size</key>
					<integer>24744</integer>
				</dict>
				<key>images/blog_divider.png</key>
				<dict>
					<key>Digest</key>
					<data>
					1e7bqRjSctNeFabjSvXDiA==
					</data>
					<key>Size</key>
					<integer>5964</integer>
				</dict>
				<key>images/body_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					3DGD4eHZti5CIkHKs10qlA==
					</data>
					<key>Size</key>
					<integer>169</integer>
				</dict>
				<key>images/body_top_grad.png</key>
				<dict>
					<key>Digest</key>
					<data>
					5p+feTieeC5lsmpIf3OfwA==
					</data>
					<key>Size</key>
					<integer>343</integer>
				</dict>
				<key>images/chalk.png</key>
				<dict>
					<key>Digest</key>
					<data>
					TZq2zf75+lCqoS5iFB9/3g==
					</data>
					<key>Size</key>
					<integer>1262</integer>
				</dict>
				<key>images/content_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					SIRUW7BjuMOcDx2Sy4uyaw==
					</data>
					<key>Size</key>
					<integer>289983</integer>
				</dict>
				<key>images/eraser.gif</key>
				<dict>
					<key>Digest</key>
					<data>
					J7/Ts7ni7JNs/8Xno7cNEg==
					</data>
					<key>Size</key>
					<integer>2794</integer>
				</dict>
				<key>images/footer_sill.png</key>
				<dict>
					<key>Digest</key>
					<data>
					zEJKQfP8vszzHHxzhs+Hcg==
					</data>
					<key>Size</key>
					<integer>61612</integer>
				</dict>
				<key>images/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					KUoH4x0Gvks8449C/7zPfg==
					</data>
					<key>Size</key>
					<integer>96558</integer>
				</dict>
				<key>images/movie_title_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					j78Dy5bDlS9GZZcQ2u9JXA==
					</data>
					<key>Size</key>
					<integer>3892</integer>
				</dict>
				<key>images/photo_caption_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					akgAClKoW38GfI4KUheHQQ==
					</data>
					<key>Size</key>
					<integer>9464</integer>
				</dict>
				<key>images/photo_links_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					mpwOqAxsqnqsQjqrsZwqpQ==
					</data>
					<key>Size</key>
					<integer>41962</integer>
				</dict>
				<key>images/photo_links_bg1.png</key>
				<dict>
					<key>Digest</key>
					<data>
					1cdzbPuj/MPl/XUUR4fY0g==
					</data>
					<key>Size</key>
					<integer>41571</integer>
				</dict>
				<key>images/photo_title_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					FJarddHGwkdNq+Rme0HeOQ==
					</data>
					<key>Size</key>
					<integer>20567</integer>
				</dict>
				<key>images/projector/chalk.png</key>
				<dict>
					<key>Digest</key>
					<data>
					BENR0izTzd2Ox/DIWFUSyQ==
					</data>
					<key>Size</key>
					<integer>1695</integer>
				</dict>
				<key>images/projector/content_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					W4lphOpVnf2AFiXVlq634Q==
					</data>
					<key>Size</key>
					<integer>71473</integer>
				</dict>
				<key>images/projector/eraser.png</key>
				<dict>
					<key>Digest</key>
					<data>
					18toamskQ5XUkS2qBE7//A==
					</data>
					<key>Size</key>
					<integer>3006</integer>
				</dict>
				<key>images/projector/footer_projector.png</key>
				<dict>
					<key>Digest</key>
					<data>
					nMLZcqfwuPmlwfnXRffYWA==
					</data>
					<key>Size</key>
					<integer>96775</integer>
				</dict>
				<key>images/projector/header_bg.png</key>
				<dict>
					<key>Digest</key>
					<data>
					g1J0TFjh9DiyncXgq3FRAg==
					</data>
					<key>Size</key>
					<integer>67537</integer>
				</dict>
				<key>images/projector/projector.png</key>
				<dict>
					<key>Digest</key>
					<data>
					EtclZ3x9OsjcSAlKisGfDQ==
					</data>
					<key>Size</key>
					<integer>124516</integer>
				</dict>
				<key>images/projector/ruler.png</key>
				<dict>
					<key>Digest</key>
					<data>
					eoEQGenAyMTFRoxotjs7EQ==
					</data>
					<key>Size</key>
					<integer>809</integer>
				</dict>
				<key>images/projector/sub_menu_dash.png</key>
				<dict>
					<key>Digest</key>
					<data>
					9Y+1ZXSE/xdeRDMVKq6mMQ==
					</data>
					<key>Size</key>
					<integer>174</integer>
				</dict>
				<key>images/projector/top_menu_dash.png</key>
				<dict>
					<key>Digest</key>
					<data>
					/Spv/S1RitHAn3rNEtZxOw==
					</data>
					<key>Size</key>
					<integer>174</integer>
				</dict>
				<key>images/ruler.png</key>
				<dict>
					<key>Digest</key>
					<data>
					JLpjRpXAlLpkk4Tb08PGLA==
					</data>
					<key>Size</key>
					<integer>21163</integer>
				</dict>
				<key>images/sub_menu_dash.png</key>
				<dict>
					<key>Digest</key>
					<data>
					4VnmUr7G3jyDxREInF8S6g==
					</data>
					<key>Size</key>
					<integer>195</integer>
				</dict>
				<key>images/top_menu_dash.png</key>
				<dict>
					<key>Digest</key>
					<data>
					1eNK/o7kmGqhoDTEtDrgOQ==
					</data>
					<key>Size</key>
					<integer>188</integer>
				</dict>
				<key>javascript.js</key>
				<dict>
					<key>Digest</key>
					<data>
					n0dN9DfVcKHYMmVnniBKtw==
					</data>
					<key>Size</key>
					<integer>14608</integer>
				</dict>
				<key>print.css</key>
				<dict>
					<key>Digest</key>
					<data>
					X/YNLz1VR46qj+qGgZy7TA==
					</data>
					<key>Size</key>
					<integer>3796</integer>
				</dict>
				<key>styles.css</key>
				<dict>
					<key>Digest</key>
					<data>
					oQVk9EEB/Ldh1kGpKDgzeQ==
					</data>
					<key>Size</key>
					<integer>13594</integer>
				</dict>
			</dict>
			<key>PageID</key>
			<string>rw:theme:school</string>
			<key>Version</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>Version</key>
	<integer>3</integer>
</dict>
</plist>
